cryptography==41.0.4
fastapi==0.103.2
lang-trans==0.6.0
librosa==0.10.1
nltk==3.8.1
pydantic-settings==2.0.3
PyJWT==2.8.0
PyMySQL==1.1.0
pyquran==1.0.1
python-dotenv==1.0.0
python-multipart==0.0.6
scipy==1.10.1
sounddevice==0.4.6
SQLAlchemy==2.0.22
tqdm==4.66.1
transformers==4.34.0
uvicorn==0.23.2
Werkzeug==3.0.0
torch==2.1.0